

/* -------------------------------------- */
/* flex side-by-side */

.side-by-side {
  display: flex; /* enable Flexbox */
  flex-direction: row; /* align content side-by-side */
  align-items: center; /* vertically align items */
}

.image-column, .text-column {
  flex: 1; /* distribute space equally */
  min-width: 200px; /* minimum width for each column */
  padding: 0.5em; /* add some padding */
  box-sizing: border-box; /* include padding in width calculation */
}

.image-column img {
  max-width: 100%; /* make image responsive */
  height: auto;
  display: block; /* remove extra space below image */
}

/* Google Map embed */

/* HTML Snippet

 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9408.428893144503!2d-76.49608995!3d42.439500550000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d0819c8e655839%3A0xfa1878509b92491d!2sDowntown%2C%20Ithaca%2C%20NY!5e1!3m2!1sen!2sus!4v1741093183210!5m2!1sen!2sus" width="650" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

 - Change the width="650" to width="100%"

*/


  